@import 'packages/less-bootstrap-3/lib/less/bootstrap.import.less';

@red: #FF1800;

.container {
	.transition(all .4s ease-in-out);
}
.container.blurred {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	opacity: 0.2;
}
h1 {
  text-align: center;
}
.selected {
  background: rgba(81,192,255,0.8);
}
.date-time {
	margin: 0 auto;
}
.glyphicon-time {
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 3;
  font-size: 30px;
}
.clockpicker-button {
  height: 50px;
  color: #02FF00;
  font-size: 20px;
  background: #000;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.datepicker,
.clockpicker {
  margin: 0 auto;
  display: block;
  background: #000;
  font-size: 20px;
  padding: 8px 20px;
  border: none;
  border-radius: 24px;
  text-align: center;
  color: #02FF00;
  cursor: pointer;
  max-width: 280px;
}
.datepicker {
  margin-bottom: 20px;
}
.clockpicker .form-control {
    cursor: pointer;
    font-size: 20px;
    background: #000;
    color: #02FF00;
    text-align: center;
    border: none;
    box-shadow: none;
    z-index: 1;
}
.clockpicker-popover {
  width: 100%;
}
.clockpicker-plate {
  margin: 0 auto;
}
.pika-single {
  width: 280px;
}
.pika-button {
  padding: 11px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  li {
    padding: 5px 12px;
    cursor: pointer;
    background: #676767;
    margin: 0 10px 15px;
    text-align: left;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 18px;
    text-align: center;
    &:hover {
      // background: rgb(0, 163, 255);
      background: #000;
    }
  }
}
.name {
  font-weight: bolder;
}
.new-item {
	margin: 20px auto;
  line-height: 70px;
  text-align: center;
  @media (max-width: @screen-sm-min) {
	  div input {
	  	border: 1px dotted black;
	  }
  }
}
.clear {
  float: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 19px;
  background: #FF1800;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16%;
}

@media (min-width: 768px) {
  .clear {
    width: 8%;
  }
}
.clear:hover {
  background: black;
  color: white;
}
.create {
width: 100%;
font-size: 40px;
line-height: 40px;
color: #000;
border-radius: 12px;
border: 1px solid #000;
background: transparent;
padding-top: 0;
height: 80px;
}
.new-item input {
  width: 90%;
  margin: 10px 0;
  border-radius: 12px;
  font-size: 25px;
  padding-left: 5px;
  border: none;
}

.totals,
.name,
.time {
	color: white;
}

.cals, .grams {
  color: #FF1800;
}

.min_cals_met .cals,
.min_grams_met .grams {
	color: yellow;
}

.cals_met .cals,
.grams_met .grams {
	color: #02FF00;
}

// Modal
.modal-overlay {
	z-index: 999;
	// display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	.transition(all .2s ease-in-out);
	&.visible {
		background: rgba(0, 0, 0, 0.2);
	}
	.modal-message {
		// display: none;
		color: #eee;
		// background: rgba(255, 255, 255, 0.59);
		padding: 20px;
		button {
			color: @red;
		}
	}
	.red {
		color: @red;
	}
}

#showHelp {
	z-index: 1000;
}

